/* ------- ALL -------
*{
    margin: 0px;
    padding: 0px;
}
html, body {
    width: 100%;
    height:100vh;
}
#wrapper{
    margin: 0px auto;
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(92,97,176);
    background: radial-gradient(circle, rgba(92,97,176,1) 0%, rgba(40,46,91,1) 84%);
    color: blanchedalmond;
}
.subHead{
    text-align: center;
    text-decoration: underline;
    color:coral;
    margin-bottom: 15px;
}
li{
    list-style-type: none;
    vertical-align: top;
} */
/* ------- index.html ------- */
/* #title{
    text-decoration: overline underline;
    padding-top: .8%;
    color:coral;
    text-align: center;
    font-size: 100px;
}
#regForm{
    display: inline-block;
    width: fit-content;
    text-align: right;
    vertical-align: top;
    margin: 8% 150px 0px 28%;
}
.error{
    color: crimson;
    text-align: center;
}
#loginForm{
    display: inline-block;
    width: fit-content;
    text-align: right;
    vertical-align: top;
    margin-top: 8%;
}
#pass{  
    color:whitesmoke;
    font-size: small;
}
.passListItem{
    text-align: center;
}
#passListItemLast{
    text-align: center;
    margin-bottom: 10px;
}
.listMessage{
    text-align: center;
    color: coral;
}
.formInput{
    margin-bottom: 10px;
}
.formButton{
    margin: 0 50% 10px 0;
    padding: 2px 3px;
} */
/* ------- landing.html ------- */
/* header{
    display: flex;
    align-items: center;
    padding: 0px 25px;
    border-bottom: thin solid black;
    justify-content: space-evenly;
}
#userNav{
    display:inline-block;
    width: 260px;
    margin: 25px 0px 0px 20px;
    vertical-align: top;
}
#head{
    margin-right: 40%;
    display: inline-block;
}
#navTitle{
    display:inline-block;
    color: coral;
}
.navLink{
    color:coral;
    margin: 0px 20px;
    font-size: larger;
    text-align: right;
}
.messageLabel{
    margin: 5px 0px;
}
.link{
    display: block;
    color: coral;
    text-align: right;
    border-bottom: thin dashed black;
} */
/* ------- postDashboard.html ------- */
/* #recievedMessages{
    display:inline-block;
    width: 460px;
    margin: 25px 0px 0px 20px;
    vertical-align: top;
}
#messageForm{
    display:inline-block;
    width: 455px;
    margin: 25px 20px;
    padding-left: 20px;
    border-left: thin solid black;
    vertical-align: top;
}
#sentMessages{
    display:inline-block;
    width: 455px;
    margin: 25px 20px;
    padding-left: 20px;
    border-left: thin solid black;
}
.formLabel{
    text-align: left;
    margin: 5px;
}
#contentInput{
    width: 350px;
    height: 20px;
    overflow-y: scroll;
}
#submitButton{
    padding: 2px 5px;
    margin-left: 70%;
}

#list{
    text-align: left;
    margin: 0px;
}
.listItem{
    text-align: left;
}
#subSubHead{
    text-align: center;
}
li{
    list-style: none;
} */
/* ------- editUser.html ------- */
/* #editForm{
    display: inline-block;
    width: fit-content;
    text-align: right;
    vertical-align: top;
    margin: 10% 42%;
} */